
    

%h1 Welcome to infoMoto

%p
  infoMOTO began in the summer of 2011 as an interprofessional project at the Illinois Institute of Technology, placing several 
  students of various talents and areas of expertise in a group with a common goal.
%p
  Although it still remains as such, infoMOTO has seen much progress. During the summer semester of 2011, most of the focus was on 
  research; the group of students spent most of their time familiarizing themselves with motorcycles and interviewing motorcycle 
  riders in order to gather some insight on the needs of the motorcycle community.
%p
  Although these research activities continued as part of the subsequent semesters, the focus of the project shifted towards 
  implementation during the fall of 2011. By the end of the semester, the infoMOTO group had a working prototype that measured 
  acceleration in three axes and lean angle and displayed this data in real time. This helped provide a stable foundation and 
  orientation to future groups. It was also during this time that the project gained an information outlet in the form of a 
  Facebook page
%p
  The infoMOTO project began to gain popularity in the spring of 2012, when the group was invited to the Progressive International
  Motorcycle Show in Rosemont. Though given only a week to prepare a booth for the show, the group mobilized and put together a 
  successful booth for the show, which resulted in a relatively large spike in popularity and a great source of research in the 
  form of surveys. The rest of the semester was spent duplicating the prototype, implementing GPS and logging modules to the two
  units, and testing them.